@import "variables";

.side-menu {
  .nav a {
    color: $navbar-default-link-hover-color;

    &:hover {
      background-color: $navbar-inverse-link-disabled-color;
    }
    &.active {
      background-color: $navbar-default-link-active-color;
    }
  }
  background-color: $navbar-inverse-bg;
  color: $navbar-inverse-color;
}

.navbar {
  .display-inline {
    & > * {
      display: inline;
    }
  }
}
