// dependencies
@import "variables";
@import "bootstrap";
@import "ember-side-menu";
@import "helpers";

// Sheets
@import "navigation";
@import "skill-list";
:root {
  --test-var: $navbar-default-color;
}

html {
  height: 100%;
  body {
    height: 100%;
    background-color: inherit;
  }
}
