<h1>About Me</h1>
<div class="row">
  <div class="col-xs-12">
    {{lorem-ipsum}}
  </div>
</div>
<div class="row">
  <h2 class="col-xs-12">Skills</h2>
  {{#each skills as |skillSet key|}}
    {{skill-list skills=skillSet.skills title=skillSet.title}}
  {{/each}}
</div>
{{outlet}}
